<div class="col-lg-12">
  <div class="card">
    <div class="card-header d-flex">
      <i class="fa fa-align-justify"></i>
      {{ idUser ? 'Edit' : 'Create' }} User Profile
    </div>
    <div class="card-body">
      <form [formGroup]="userForm" (ngSubmit)="saveUser()">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="name">First Name</label>
              <input class="form-control" placeholder="Enter first name" type="text" formControlName="first_name"
                [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }">
              <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                <div *ngIf="f.first_name.errors.required">First Name is required</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="name">Last Name</label>
              <input class="form-control" placeholder="Enter last name" type="text" formControlName="last_name"
                [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }">
              <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                <div *ngIf="f.last_name.errors.required">Last Name is required.</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <label for="name">Email</label>
              <input class="form-control" placeholder="Enter your email" type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email invalid.</div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="name">Gender</label>
              <select class="form-control" placeholder="Enter your name" type="text" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                  <div *ngIf="f.gender.errors.required">Gender is required</div>
                </div>
                <option value="">Select gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">IP</label>
              <input class="form-control" placeholder="Enter your IP" type="text" formControlName="ip_address"
                [ngClass]="{ 'is-invalid': submitted && f.ip_address.errors }">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-pencil fa-lg"></i>
              {{ idUser ? 'Save' : 'Create' }}
            </button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
